#page-head {
	display: none;
}

#side-panel {
	display: none;
}

#main-panel {
	margin-left: 0px;
	padding: 0px 0px 0px 0px;
	position: absolute;
}

#view-message {
	display: none;
}

#radiatorconfig {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 65535;
}

ul.config li.config {
	display: block;
	width: auto;
	height: 16px;
	overflow: hidden;
}

ul.config li.config:hover {
	height: auto;
	width: 150px;
	overflow: visible;
	background-color: #ddd;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	border: solid black 1px;
	padding-left: 10px;
	padding-bottom: 10px;
}

ul.menu li.menu {
	display: block;
	width: auto;
	height: 40px;
	overflow: hidden;
}

ul.menu	li.menu:hover {
	height: 90%;
	width: auto;
	overflow: auto;
	background-color: #ddd;
	background: rgb(240, 240, 240) transparent;
	background: rgba(240, 240, 240, 0.6);
	/* For IE 5.5 - 7*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd00,
		endColorstr=#dddddd00);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd00,
		endColorstr=#dddddd00)";
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid black 1px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.building {
	opacity: 0.6;
	-moz-opacity: 0.6;
	-webkit-opacity: 0.6;
	filter: alpha(opacity = 60);
}

.failing {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(193
		, 63, 63)), color-stop(0.6, rgb(235, 26, 36)));
	background-image: -moz-linear-gradient(center bottom, rgb(193, 63, 63)
		19%, rgb(235, 26, 36) 60%);
}

.successful {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(64,
		122, 75)), color-stop(0.53, rgb(0, 138, 44)));
	background-image: -moz-linear-gradient(center bottom, rgb(64, 122, 75)
		5%, rgb(0, 138, 44) 53%);
}

.claimed {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(196
		, 172, 53)), color-stop(0.82, rgb(240, 172, 0)));
	background-image: -moz-linear-gradient(center bottom, rgb(196, 172, 53)
		25%, rgb(240, 172, 0) 82%);
}

.unstable {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.6, rgb(224,
		224, 0)), color-stop(0.9, yellow));
	background-image: -moz-linear-gradient(center bottom, rgb(224, 224, 0)
		60%, yellow 90%);
}

.dashboard {
	position: relative;
	overflow: hidden;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 65530;
	width: 100vw !important;
}

#caption {
	width: 100vw !important;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 5px #909090;
}

